{% extends "layout.html" %}
{% block content %}
<!-- <div class="createTopicForm">
	<input class="name-field input"></input>
	<a class="submit-btn input">Submit</a>
</div> -->

<div id="POSTComponent">
</div>
<script type="text/javascript">
	// CHAMPICS.data.current_topic = JSON.parse(JSON.stringify({{current_topic|safe}}));
	CHAMPICS.data.posts = JSON.parse(JSON.stringify({{posts|safe}}))
	CHAMPICS.data.r = "{{r|safe}}"

	console.log(CHAMPICS.data.posts)
</script>
<script src="{{ url_for('static', filename='scripts/reactive/POSTComponent.js') }}" type="text/jsx"></script>
{% endblock %}