<!doctype html>
<head>
  <title>champics</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
</head>
<body>

<div class="wrapper">
  <header>
    <div id="left">
      <h1>champics</h1>
    </div>
    <div id="right">
      <!-- misc about or something idk -->
    </div>
    
  </header>
  <section id="topicPanel">
    <ul>
      <li>politicians</li>
      <li>rap</li>
      <li>cats</li>
      <!--after for loop-->
      <li class="addTopicBtn">+</li>
    </ul>
  </section>
  <section id="content">
    {% block content %}
    {% endblock %}
  </section>
  <footer>
  </footer>
</div>

</body>