<html>
  <head>
    <title>champics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Social bookmarking by posting pictures and commenting with drawings.">
    <meta name="Keywords" content="champics, pictures, social, bookmarking, comment, drawings, champagne, Jared, Carter">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/champics.png') }}"/>
    <link href="{{ url_for('static', filename='styles/layout.css') }}" rel="stylesheet" type="text/css" ></link>
    <link href="{{ url_for('static', filename='styles/font-awesome.min.css') }}" rel="stylesheet" type="text/css" ></link>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static', filename='scripts/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/reactjs/react.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/reactjs/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/reactjs/JSXTransformer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Init.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/reactive/TopicComponent.js') }}" type="text/jsx"></script>
    <script src="{{ url_for('static', filename='scripts/utils/AjaxCalls.js') }}"></script>
    <script>
      CHAMPICS.data = {}
      CHAMPICS.data.topics = JSON.parse(JSON.stringify({{topics|safe}}));
    </script>
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NMXVS8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NMXVS8');</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71088469-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div class="wrapper">
      <div id="totalHeader">
        <div id="header">
          <div class="left">
            <a href="/" style="text-decoration: none;"><h1>champics</h1></a>
          </div>
          <div class="right">
            <img src="{{ url_for('static', filename='images/champics.png') }}"></img>
          </div>
        </div>
        <section id="topicComponent">
        </section>
      </div>
      <section id="content">
        {% block content %}
        {% endblock %}
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>