<html>
  <head>
    <title>champics</title>
    <link href="{{ url_for('static', filename='styles/layout.css') }}" rel="stylesheet" type="text/css" ></link>
    <link href="{{ url_for('static', filename='styles/font-awesome.min.css') }}" rel="stylesheet" type="text/css" ></link>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static', filename='scripts/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/reactjs/react.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/reactjs/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/reactjs/JSXTransformer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Init.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/reactive/TopicComponent.js') }}" type="text/jsx"></script>
    <script src="{{ url_for('static', filename='scripts/utils/AjaxCalls.js') }}"></script>
    <script>
      CHAMPICS.data = {}
      CHAMPICS.data.topics = JSON.parse(JSON.stringify({{topics|safe}}));
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <div class="left">
          <h1>champics</h1>
        </div>
        <div class="right">
          <!-- misc about or something idk -->
        </div>
      </div>
      <section id="topicComponent">
      </section>
      <section id="content">
        {% block content %}
        {% endblock %}
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>