{% extends "layout.html" %}
{% block content %}
<link href="{{ url_for('static', filename='styles/post.css') }}" rel="stylesheet" type="text/css" ></link>
<div id="PostsComponent">
	
</div>

<script>
	CHAMPICS.data.current_post = JSON.parse(JSON.stringify({{current_post|safe}}));
	CHAMPICS.data.current_topic = JSON.parse(JSON.stringify({{current_topic|safe}}));
</script>
<script src="{{ url_for('static', filename='scripts/reactive/PostsComponent.js') }}" type="text/jsx"></script>
<div class="white-overlay">
</div>
<script src="{{ url_for('static', filename='scripts/vendor/headroom.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/header.js') }}"></script>

{% endblock %}