{% extends "layout.html" %}
{% block content %}
<style>
	.createPostForm{
		margin: 10px 5px;
		width: 400px;
	}
	.createPostForm > * {
		font-family: "Open Sans";
	}
	.createPostForm > .input{
		border: 1px solid #ccc;
		border-radius: 1px;
		outline: none;
		padding: 5px;
		display: block;
		width: 100%;
		margin: 5px;
		font-size: 20px;
		color: rgb(150,150,150);
	}
	.createPostForm > .submit-btn {
		text-align: center;
		
		color: #fff;
		background-color: #3FB8AF;
		cursor: pointer;
	}
	.createPostForm > .submit-btn:hover {
		opacity: .7
	}
</style>

<div id="POSTComponent">
</div>
<script type="text/javascript">
	CHAMPICS.data.current_topic = JSON.parse(JSON.stringify({{current_topic|safe}}));
	CHAMPICS.data.posts = JSON.parse(JSON.stringify({{posts|safe}}))
	console.log(CHAMPICS.data.posts)
</script>
<script src="{{ url_for('static', filename='scripts/reactive/POSTComponent.js') }}" type="text/jsx"></script>
{% endblock %}