.createPostForm {
	display: none;
}

#submitEditBtn {
	background: #ff5566;
	border: 1px solid #ee1111;
	font-size: 25px;
	margin-top: 10px;
	outline: none;
	border-radius: 3px;
}

#submitEditBtn:hover {
	opacity: .7;
	cursor: pointer;
}

#options {

}
#commentPanel {
	min-height: 400px;
}
.wrapper {
	max-width: 800px;
	margin: auto;
	height: 100%;
}
#header {
	max-width: 800px;
	margin: auto;
	padding: 0px 5px;
	padding-top: 5px;
	border-bottom: 1px solid rgba(63, 184, 175, .1);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}
#header h1 {
	font-size: 40px;
	font-family: "Noto Sans";
	color: #FF4E50;
}
.right {
	position: relative;
	top: -80px;
	float: right;
}
.right img {
	width: 60px;
}
#topicComponent, #content {
	max-width: 800px;
	margin: auto;
}
#topicComponent {
	padding: 0px 5px;
}
ul {
	-webkit-padding-start: 0px;
}
.topicItem {
	cursor: pointer;
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
	border: 1px solid rgba(255, 78, 80, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
	border-radius: 5px;
	margin-bottom: 5px;
}
.topicItem:hover {
	background-color: #FF4E50 
}
.topicItem:hover a {
	color: #fff;
	
}
.topicItem.active{
	background-color: #FF4E50;
}
.topicItem.active a{
	color: #fff;
}
.topicItem a {
	padding: 5px;
	display: block;
	font-family: "Open Sans";
	text-decoration: none;
	color: #FF4E50;
	opacity: .9;
}
.plusBtn {
	margin-bottom: 10px;
	border-radius: 5px;
	list-style-type: none;
	display: inline-block;
	padding: 10px 0px 15px 5px;
	box-sizing: border-box;
}
.currentTopicName {
	font-family: "Open Sans";
	color: rgb(130,130,130);
	font-size: 25px;
}
.plusBtn .addPostBtn:hover {
	opacity: .7;
	cursor: pointer;
}
.plusBtn .addPostBtn i {
	color: rgb(200,200,200);
	font-size: 22px;
	margin-right: 5px;
	font-weight: bold;
}
.plusBtn .addPostBtn span {
	color: rgb(200,200,200);
	font-family: "Noto Sans";
	font-size: 25px;
	font-weight: bold;
}
#postList .rankOptions {
	display: inline-block;
	float: right;
	padding: 10px 5px 15px 5px;
}
#postList .rankOptions .rankOption {
	color: #FF4E50 !important;
	font-family: "Open Sans";
	margin-left: 15px !important;
	font-size: 22px !important;

}
#postList .rankOptions .rankOption:hover {
	text-decoration: underline !important;
}
.postListWrapper {
	border-top: 1px solid rgba(220, 220, 220, .2);
}
#postList {

	height: 100%;
	width: 100%;
}
#postList li {
	font-family: "Open Sans";
	list-style-type: none;
	word-wrap: break-word;
}
#postList a {
	font-size: 20px;
	color: #3FB8AF;
	text-decoration: none;
}
#postList ol {
	margin-top: 10px;
	margin-left: -20px;
    padding-right: 0;
    list-style-type: none;
}
#postList ol li {
	counter-increment: step-counter;
}
#postList ol li::before {
    content: counter(step-counter);
    margin-right: 5px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(210,210,210);
    font-weight: bold;
    padding: 10px 8px 3px 5px;
    border-radius: 3px;
}
.postItem {
	padding: 22px;
	position: relative;
}
li.postItem > .voting-widget{
  width: 40px;
  height: auto;
  display: inline;
  position: absolute;
  left: -20px;
  top: 0px;
}
.postItem > .voting-widget > .vote_element{
  display: block;
  width: 100%;
  height: 20px;
  margin: -5px 3px 8px 3px;  
}
.postItem > .voting-widget > .vote_count{
	color: rgb(150,150,150);
	margin: 12px 0px 5px 9px;
	font-size: 20px;
}
.postItem > .voting-widget > .upvote,.postItem > .voting-widget > .downvote{
	cursor: pointer;
	font-size: 40px !important;
	color: rgb(100,100,100) !important;
}
.postItem > .voting-widget > .vote_element.hidden{
  visibility: hidden;
}
.postItem > .voting-widget > .vote_element{
  display: block;
  width: 100%;
  height: 15px;
}
