
#header {
	width: 800px;
	background-color: #fff;
	position: relative;
	z-index: 2;
}
#topicComponent {
	background-color: #fff;
	position: relative;
	z-index: 2;
}
.post {
	border: 1px solid rgba(63, 184, 175, .2);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
	top: 220px;
	padding: 30px;
	position: fixed;
	width: 800px;
	height: auto;
	max-width: 100%;
	z-index: 2;
	text-align: center;
	margin-bottom: 20px;
	background-color: #FF4E50;
  box-sizing: border-box;
}

.post-image {
	opacity: 1;
	max-height: 300px;
	min-width: 400px;
	max-width: 600px;
}

.white-overlay {
	top: 0;
	width: 800px;
	z-index: 1;
	background-color: #fff;
	position: fixed;
	height: 300px;
}
#totalHeader {
	position: fixed;
	z-index: 2
}
.comments {
	padding: 5px;
	position: absolute;
	top: 580px;
	z-index: 0;
  width: 800px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.hint {
  font-family: "Open Sans";
  font-style: italic;
  margin-left: 5px;
  color: rgb(200,200,200);
  font-size: 14px;
}
/*.comments.pinned {
  top: 480px;
}*/
.subHeader > .rankOptions {
  display: inline-block;
  float: right;
  padding: 10px 5px 15px 5px;
}
.subHeader > .rankOptions .rankOption {
  color: #FF4E50 !important;
  font-family: "Open Sans";
  margin-left: 15px !important;
  font-size: 22px !important;

}
.subHeader > .rankOptions .rankOption:hover {
  text-decoration: underline !important;
}
.comments > .subHeader {
  width: 100%;
  height: auto;
  max-width: 800px;
  width: 800px;
}
.comments > .subHeader > .reply {
  padding: 10px 50px;

  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgb(63, 184, 175);
  color: #fff;
  font-family: "Noto Sans";
  text-align: center;
  border-radius: 3px;
  width: auto;
}
.comments > .subHeader > .reply:hover {
  cursor: pointer;
}
.comments > .subHeader > .caption {
  font-family: "Noto Sans";
  font-size: 18px;
  color: #FF4E50;
  width: auto;
  max-width: 200px;
  position: absolute;
  right: 8px;
  top: 12px;
}
.comment {
  font-family: "Open Sans";
  width: 92%;
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 5px;
  height: auto;
  box-sizing: border-box;
  -webkit-transition: background-color .1s ease-in-out;
  -moz-transition: background-color .1s ease-in-out;
  -o-transition: background-color .1s ease-in-out;
  transition: background-color .1s ease-in-out;
  margin: 0;
}
.comment:hover{
  /*background-color: rgba(227,76,74,.1); just for now until I figure out the */
  opacity: .5;

}
.comment:hover * {
  color: rgb(227,76,74) !important; 
}
.comment > .text {
  font-size: 18px;
}

.comment > .author {
  font-size: 14px;
  color: rgb(150,150,150);
}
.comment > .reply {
  font-size: 14px;
  text-decoration: underline;
  color: #FF4E50;
}
.comment > .reply:hover {
  cursor: pointer;
  opacity: .7;
}
.separator {
  color: rgb(120,120,120);; 
}
img.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
div.edit-buttons{
  position: relative;
  left: -100px;
  top: -300px;
  width: 20px;
  height: auto;
  padding: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
}
div.edit-buttons > .edit-btn{
  display: block;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 5px solid #fff;
}
div.edit-buttons > .edit-btn:hover{
  background-color: #ccc;
}
div.edit-buttons > .edit-btn.active0{
  border: 5px solid #aaa;
  opacity: .7
}
div.edit-buttons > .edit-btn.active1{
  border: 5px solid #aaa;
}
div.control-btns{
  position: relative;
  left: -87px;
  top: -300px;
  height: auto;
  width: 20px;
}
div.control-btns > .btn-form{
  display: block;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}
div.control-btns > .btn-form.close{
  font-size: 25px;
  color: red;
}
div.control-btns > .btn-form.submit{
  font-size: 25px;
  color: green;
}
div.writingPortion{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.5);
  display: block;
  height: 100%;
  width: 100%;
}
div.writingPortion.hidden{
  display: none;
}
div.writingPortion > .input-form, div.writingPortion > .btn-form{
  width: 100%;

  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-size: 35px;
  border: 1px solid #ccc;
  outline: none;
  font-family: "Open Sans";
  
}
div.writingPortion > .title-field{
  height: 40%;
  padding: 5px;
  resize: none;
  font-family: "Open Sans";
  opacity: .8;
  resize: none;
}
div.writingPortion > .name-field{
  height: 10%;
  font-family: "Open Sans";
  opacity: .8;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
}
div.writingPortion > .submit-btn{
  height: 60px;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-family: "Open Sans";
  display: block;
  color: white;
  background-color: rgb(227,74,76);
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
  opacity: 1;
}
div.writingPortion > .submit-btn:hover{
  background-color: rgba(227,74,76,1.0);
}
.headroom {
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.headroom-top-pinned {
	top: 200px;
}
.animated {
  -webkit-animation-duration: 0.200s;
     -moz-animation-duration: 0.200s;
       -o-animation-duration: 0.200s;
          animation-duration: 0.200s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}
.comment > .voting-widget{
  width: 40px;
  height: auto;
  display: block;
  position: relative;
  left: -40px;
  top: 65px;
}
.comment > .voting-widget.hidden{
  visibility: hidden;
}
.comment > .voting-widget > .vote_element{
  display: block;
  width: 100%;
  height: 10px;
  font-size: 15px;
  margin: 0px;
}
.comment > .voting-widget > .downvote{
  margin-top: 5px;
}
.comment > .voting-widget > .vote_element.hidden{
  visibility: hidden;
}
.comment > .voting-widget > .vote_count {
  cursor: normal;
  color: rgb(150,150,150) !important;
  margin: 16px 0px 5px 6px;
  font-size: 20px;
  opacity: 1 !important;
}
.comment > .voting-widget > .upvote,.comment > .voting-widget > .downvote{
  cursor: pointer;
  font-size: 40px !important;
  color: rgb(100,100,100) !important;
  opacity: 1 !important;
}
@-webkit-keyframes slideDown {
  0% {
    top: 0;
  }

  100% {
    top: 220px;
  }
}

@-moz-keyframes slideDown {
  0% {
    top: 0;
  }

  100% {
    top: 220px;
  }
}

@-o-keyframes slideDown {
  0% {
    top: 0;
  }

  100% {
    top: 220px;
  }
}
@-webkit-keyframes slideUp {
  0% {
    top: 220px;
  }

  100% {
    top: 0;
  }
}
@-moz-keyframes slideUp {
  0% {
    top: 220px;
  }

  100% {
    top: 0;
  }
}
@-o-keyframes slideUp {
  0% {
    top: 220px;
  }

  100% {
    top: 0;
  }
}
@keyframes slideUp {
  0% {
    top: 220px;
  }

  100% {
    top: 0;
  }
}
.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}
.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}
.editingContainer{
    top: 200px;
    position: fixed;
    width: 800px;
    height: auto;
    max-width: 100%;
    z-index: 1000;
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
}

@media (max-width: 500px) {
  .hint {
    display: none;
  }
}